<div class="conteudo">
    <mat-form-field class="campo">
        <mat-label class="title">{{title}}</mat-label>
        <input (keyup)="onKey($event)" (blur)="valida()" value={{saida}} class="campo_input" matInput />
        <mat-hint *ngIf="valida_erro" class="erro"><b>{{title}} não deve estar vazio.</b></mat-hint>
    </mat-form-field>
    <span class="icone">
        <mat-icon aria-hidden="false" aria-label="icone de informação">help_outline</mat-icon>
        <span class="descricao">{{descricao}}</span>
    </span>
</div>